<!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">
<header>
  <h2>Sign Up For My Web App</h2>
</header>

 <form>
  <script type="text/template" id="generic-form">
	<div class= 'text-input <%= obj.id %>' >
	<i class="fa <%= obj.icon %>"></i>
	<input type="<%= obj.type %>" placeholder="<%= obj.label %>" id="<%= obj.id %>">
	</div>
 </script>

 <script type="text/template" id="select-form">

  <div class="select">
 	<select type="<%= type %>" id="<%= obj.id %>">
 		<option label="<%= obj.label %>"></option>
 		<option label="<%= obj.options[0].label %>"></option>
 		<option label="<%= obj.options[1].label %>"></option>
 		<option label="<%= obj.options[2].label %>"></option>
 		<option label="<%= obj.options[3].label %>"></option>
 		<option label="<%= obj.options[4].label %>"></option>
 	</select>
 	</div>
 </script>

 <script type="text/template" id="generic-form2">
	<div class="text-input <%= obj.id %>">
	<i class="fa <%= obj.icon %>"></i>
	<input type="<%= obj.type %>" placeholder="<%= obj.label %>" id="<%= obj.id %>">
	</div>
 </script>
 </form>

 <footer>
  <button>
    Submit Form
  </button>
</footer>
</div>
  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html>





